In [0]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practice').getOrCreate()

In [0]:
df=spark.read.options(header='True', inferSchema='True').csv('/FileStore/tables/StudentData.csv')

In [0]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import col , lit

In [0]:
df=df.withColumn("total_marks" , lit(120))
df.show()

+---+------+----------------+------+------+-----+--------------------+-----------+
|age|gender|            name|course|  roll|marks|               email|total_marks|
+---+------+----------------+------+------+-----+--------------------+-----------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|        120|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|        120|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|        120|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|        120|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|        120|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|        120|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|        120|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|        120|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|        120|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|        120|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|        120|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|        120|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|        120|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|        120|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|        120|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|        120|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|        120|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|        120|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|        120|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|        120|
+---+------+----------------+------+------+-----+--------------------+-----------+
only showing top 20 rows

In [0]:
df=df.withColumn("Average_Marks" , (col('marks')/col('total_Marks'))*100)
df.show()

+---+------+----------------+------+------+-----+--------------------+-----------+------------------+
|age|gender|            name|course|  roll|marks|               email|total_marks|     Average_Marks|
+---+------+----------------+------+------+-----+--------------------+-----------+------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|        120|49.166666666666664|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|        120| 51.66666666666667|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|        120|              37.5|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|        120|24.166666666666668|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|        120|34.166666666666664|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|        120|26.666666666666668|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|        120| 57.49999999999999|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|        120| 70.83333333333334|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|        120|53.333333333333336|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|        120|              42.5|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|        120|29.166666666666668|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|        120|44.166666666666664|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|        120|              22.5|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|        120| 45.83333333333333|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|        120|              35.0|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|        120|              22.5|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|        120|              30.0|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|        120|18.333333333333332|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|        120|46.666666666666664|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|        120| 51.66666666666667|
+---+------+----------------+------+------+-----+--------------------+-----------+------------------+
only showing top 20 rows

In [0]:
df2= df.filter((df.course== 'OOP') & (df.Average_Marks > 80))
df2.show()

+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
|age|gender|              name|course|   roll|marks|               email|total_marks|    Average_Marks|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
| 28|  Male|    Jenna Montague|   OOP|3331161|   98|Leontine Phillips...|        120|81.66666666666667|
| 29|Female|Priscila Tavernier|   OOP|3902993|   99|Celeste Lollis_Bi...|        120|             82.5|
| 28|Female|      Judie Chipps|   OOP|5451977|   99|Tamera Blakley_Mi...|        120|             82.5|
| 29|  Male|    Margene Moores|   OOP|5621072|   97|Sheryll Towler_Ma...|        120|80.83333333333333|
| 29|  Male|      Jc Andrepont|   OOP|8022618|   97|Cordie Harnois_Ja...|        120|80.83333333333333|
| 28|  Male|    Loris Crossett|   OOP|8172914|   98|Paris Hutton_Pari...|        120|81.66666666666667|
| 28|  Male|    Loris Crossett|   OOP|9692316|   99|Judie Chipps_Mich...|        120|             82.5|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+

In [0]:
df3= df.filter((col('course') == 'Cloud') & (col('marks') > 60))
df3.show()

+---+------+----------------+------+-------+-----+--------------------+-----------+------------------+
|age|gender|            name|course|   roll|marks|               email|total_marks|     Average_Marks|
+---+------+----------------+------+-------+-----+--------------------+-----------+------------------+
| 29|Female|Toshiko Hillyard| Cloud|  12899|   62|Margene Moores_Ma...|        120| 51.66666666666667|
| 28|Female|    Claude Panos| Cloud|  72409|   85|Sheryll Towler_Al...|        120| 70.83333333333334|
| 29|Female|     Anna Santos| Cloud| 242254|   68|Jc Andrepont_Hube...|        120|56.666666666666664|
| 29|  Male|     Billi Clore| Cloud| 512047|   76|Taryn Brownlee_Ju...|        120| 63.33333333333333|
| 28|Female|  Somer Stoecker| Cloud| 612490|   82|Sebrina Maresca_G...|        120| 68.33333333333333|
| 29|Female|    Judie Chipps| Cloud| 632793|   75|Tijuana Kropf_Ele...|        120|              62.5|
| 29|Female|    Eda Neathery| Cloud|1011971|   91|Margene Moores_El...|        120| 75.83333333333333|
| 29|  Male|  Nicole Harwood| Cloud|1152571|   62|Latia Vanhoose_Ma...|        120| 51.66666666666667|
| 29|  Male|  Jalisa Swenson| Cloud|1261533|   70|Dustin Feagins_Ni...|        120|58.333333333333336|
| 28|Female|    Eda Neathery| Cloud|1272870|   69|Somer Stoecker_Du...|        120| 57.49999999999999|
| 28|  Male|  Bonita Higuera| Cloud|1312294|   94|Eda Neathery_Pris...|        120| 78.33333333333333|
| 29|Female| Hubert Oliveras| Cloud|1392791|   94|Anna Santos_Alber...|        120| 78.33333333333333|
| 29|Female|Mickey Cortright| Cloud|1421542|   71|Latia Vanhoose_Ke...|        120|59.166666666666664|
| 28|Female|     Neda Briski| Cloud|1651303|   74|Ernest Rossbach_D...|        120| 61.66666666666667|
| 28|Female|  Melani Engberg| Cloud|1872667|   99|Alberta Freund_Ni...|        120|              82.5|
| 29|  Male|Jeannetta Golden| Cloud|1952763|   67|Jenna Montague_Je...|        120|55.833333333333336|
| 28|Female|    Paris Hutton| Cloud|2051881|   79|Melani Engberg_Ma...|        120| 65.83333333333333|
| 28|Female|    Eda Neathery| Cloud|2071302|   95|Latia Vanhoose_Do...|        120| 79.16666666666666|
| 28|  Male|     Neda Briski| Cloud|2092176|   81|Celeste Lollis_Ma...|        120|              67.5|
| 28|Female|   Tijuana Kropf| Cloud|2121632|   78|Michelle Ruggiero...|        120|              65.0|
+---+------+----------------+------+-------+-----+--------------------+-----------+------------------+
only showing top 20 rows

In [0]:
df.select(df.name , df.marks).show()

+----------------+-----+
|            name|marks|
+----------------+-----+
| Hubert Oliveras|   59|
|Toshiko Hillyard|   62|
|  Celeste Lollis|   45|
|    Elenore Choy|   29|
|  Sheryll Towler|   41|
|  Margene Moores|   32|
|     Neda Briski|   69|
|    Claude Panos|   85|
|  Celeste Lollis|   64|
|  Cordie Harnois|   51|
|       Kena Wild|   35|
| Ernest Rossbach|   53|
|  Latia Vanhoose|   27|
|  Latia Vanhoose|   55|
|     Neda Briski|   42|
|  Latia Vanhoose|   27|
|  Loris Crossett|   36|
|  Annika Hoffman|   22|
|   Santa Kerfien|   56|
|Mickey Cortright|   62|
+----------------+-----+
only showing top 20 rows

In [0]:
df.select(df.age, df.gender, df.course).distinct().show()

+---+------+------+
|age|gender|course|
+---+------+------+
| 28|Female|    DB|
| 28|Female|   MVC|
| 29|  Male|    PF|
| 28|Female|   OOP|
| 29|Female| Cloud|
| 29|  Male| Cloud|
| 29|Female|   DSA|
| 29|  Male|   OOP|
| 29|  Male|    DB|
| 28|Female|    PF|
| 29|Female|   MVC|
| 29|Female|    DB|
| 28|  Male|    PF|
| 28|Female| Cloud|
| 29|  Male|   MVC|
| 28|  Male|   OOP|
| 28|  Male|   DSA|
| 29|Female|    PF|
| 28|  Male|   MVC|
| 28|  Male|    DB|
+---+------+------+
only showing top 20 rows

In [0]:
df1=spark.read.options(header='True' , inferSchema='True').csv('/FileStore/tables/Office.csv')
df1.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [0]:
df4= df1.sort(df1.bonus.asc())
df4.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
+-------------+----------+-----+------+---+-----+

In [0]:
df5=df1.sort(df1.age.desc() ,df1.salary.asc() )
df5.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|      Michael|     Sales|   NY| 86000| 56|20000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|        James|     Sales|   NY| 90000| 34|10000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Maria|   Finance|   CA| 90000| 24|23000|
+-------------+----------+-----+------+---+-----+

In [0]:
df6=df1.orderBy(df1.age.desc() , df1.bonus.desc() ,df1.salary.asc())
df6.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|      Michael|     Sales|   NY| 86000| 56|20000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|        James|     Sales|   NY| 90000| 34|10000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Maria|   Finance|   CA| 90000| 24|23000|
+-------------+----------+-----+------+---+-----+

In [0]:
df.groupBy(df.course).count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [0]:
df.groupBy(df.course , df.gender).count().show()

+------+------+-----+
|course|gender|count|
+------+------+-----+
|   OOP|  Male|   70|
|    DB|  Male|   82|
| Cloud|Female|  106|
|   MVC|  Male|   86|
|   DSA|Female|   98|
|    PF|  Male|   97|
|   MVC|Female|   71|
| Cloud|  Male|   86|
|    PF|Female|   69|
|   DSA|  Male|   78|
|    DB|Female|   75|
|   OOP|Female|   82|
+------+------+-----+

In [0]:
df.groupBy(df.course , df.gender).agg(sum("marks").alias("total student")).show()

+------+------+-------------+
|course|gender|total student|
+------+------+-------------+
|   OOP|  Male|         4234|
|    DB|  Male|         5073|
| Cloud|Female|         6316|
|   MVC|  Male|         5241|
|   DSA|Female|         6124|
|    PF|  Male|         5960|
|   MVC|Female|         4344|
| Cloud|  Male|         5127|
|    PF|Female|         3973|
|   DSA|  Male|         4826|
|    DB|Female|         4197|
|   OOP|Female|         4682|
+------+------+-------------+

In [0]:
from pyspark.sql.functions import sum , mean, count, max , min ,avg

In [0]:
df.groupBy("course" ,"age").agg(max("marks"), min("marks") , avg("marks")).show()

+------+---+----------+----------+------------------+
|course|age|max(marks)|min(marks)|        avg(marks)|
+------+---+----------+----------+------------------+
|   MVC| 28|        99|        23| 60.44444444444444|
|   MVC| 29|        99|        22| 61.56470588235294|
| Cloud| 28|        99|        20|             58.08|
|    PF| 29|        99|        20|56.275862068965516|
|    PF| 28|        98|        20| 63.75949367088607|
|   OOP| 29|        99|        20|59.729729729729726|
|   DSA| 28|        99|        20|  64.6867469879518|
| Cloud| 29|        98|        21|             61.25|
|    DB| 28|        98|        21| 58.76829268292683|
|   DSA| 29|        99|        20| 60.01075268817204|
|   OOP| 28|        99|        23| 57.64102564102564|
|    DB| 29|        98|        20|59.346666666666664|
+------+---+----------+----------+------------------+

In [0]:
df7 = spark.read.options().text('/FileStore/tables/WordData.txt')
df7.show()

+------+
| value|
+------+
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Chair|
| Chair|
| Chair|
|   Bag|
|Mobile|
|  Book|
| Chair|
| Chair|
| Chair|
|   Bag|
+------+
only showing top 20 rows

In [0]:
df7.groupBy("value").count().show()

+------+-----+
| value|count|
+------+-----+
|   Mic|   10|
| Chair|   15|
|  Book|    5|
|Laptop|    5|
|   Bag|    5|
|Mobile|    5|
| Apple|   10|
+------+-----+

In [0]:
df= spark.read.options(header='True' , inferSchema='True').csv('/FileStore/tables/OfficeDataProject.csv')
df.show()

+-----------+-------------------+----------+-----+------+---+-----+
|employee_id|      employee_name|department|state|salary|age|bonus|
+-----------+-------------------+----------+-----+------+---+-----+
|       1000|          Nitz Leif| Marketing|   CA|  6131| 26|  543|
|       1001|    Melissia Dedman|   Finance|   AK|  4027| 43| 1290|
|       1002|  Rudolph Barringer|        HR|   LA|  3122| 43| 1445|
|       1003|        Tamra Amber|  Accounts|   AK|  5717| 47| 1291|
|       1004|        Mullan Nitz|Purchasing|   CA|  5685| 34| 1394|
|       1005|      Zollner Karie|  Accounts|   CA|  2843| 27| 1078|
|       1006|Kaczorowski Zollner|     Sales|   CA|  7201| 21| 1834|
|       1007|      Nakano Locust| Marketing|   LA|  3444| 23| 1823|
|       1008|  Recalde Kensinger|  Accounts|   LA|  3704| 48| 1330|
|       1009|        Imai Hallie|  Accounts|   AK|  5061| 38| 1557|
|       1010|    Debroah Gallman|  Accounts|   NY|  9308| 35|  817|
|       1011|   Barringer Escoto|Purchasing|   WA|  1685| 49| 1706|
|       1012|      Soules Coogan|  Accounts|   AK|  8330| 43| 1914|
|       1013|      Luisa Suzanne|  Accounts|   CA|  1151| 37| 1095|
|       1014|      Marvis Cobian|Purchasing|   NY|  5061| 41| 1765|
|       1015|   Cobian Kensinger|     Sales|   LA|  1983| 21|  632|
|       1016|      Gilma Margret| Marketing|   CA|  2919| 45| 1762|
|       1017| Ellingsworth Ilana|  Accounts|   WA|  9614| 26| 1964|
|       1018| Vankirk Jacquelyne|Purchasing|   NY|  8636| 47| 1192|
|       1019|    Zollner Juliana|        HR|   NY|  9739| 30| 1119|
+-----------+-------------------+----------+-----+------+---+-----+
only showing top 20 rows

In [0]:
df.count()

Out[51]: 1000

In [0]:
df.select("department").distinct().count()

Out[53]: 6

In [0]:
df.select("department").distinct().show()

+----------+
|department|
+----------+
|     Sales|
|        HR|
|   Finance|
|Purchasing|
| Marketing|
|  Accounts|
+----------+

In [0]:
from pyspark.sql.functions import sum , count , avg , mean, max, min

In [0]:
df.groupBy("department").agg(sum("employee_id").alias("total_employee")).show()

+----------+--------------+
|department|total_employee|
+----------+--------------+
|     Sales|        255642|
|        HR|        258167|
|   Finance|        238737|
|Purchasing|        247559|
| Marketing|        252379|
|  Accounts|        247016|
+----------+--------------+

In [0]:
df.groupBy("state").agg(sum("employee_id").alias("total_employee")).show()

+-----+--------------+
|state|total_employee|
+-----+--------------+
|   LA|        307561|
|   CA|        304865|
|   WA|        315871|
|   NY|        260173|
|   AK|        311030|
+-----+--------------+

In [0]:
df.groupBy("state" ,"department").agg(sum("employee_id").alias("total_employee")).show()

+-----+----------+--------------+
|state|department|total_employee|
+-----+----------+--------------+
|   CA|     Sales|         61556|
|   CA| Marketing|         49084|
|   NY|  Accounts|         54708|
|   NY|     Sales|         43726|
|   CA|   Finance|         52257|
|   CA|  Accounts|         51065|
|   CA|Purchasing|         48717|
|   WA|        HR|         74046|
|   AK|Purchasing|         44115|
|   WA|  Accounts|         40907|
|   WA|Purchasing|         56333|
|   AK|     Sales|         59387|
|   AK|  Accounts|         54623|
|   WA| Marketing|         58610|
|   LA|        HR|         61124|
|   LA|     Sales|         51042|
|   AK|        HR|         37127|
|   LA|   Finance|         45217|
|   AK|   Finance|         52449|
|   LA|Purchasing|         67070|
+-----+----------+--------------+
only showing top 20 rows

In [0]:
df.groupBy("department").agg(max("salary").alias("max"), min("salary").alias("min")).orderBy(col("max").asc(), col("min").asc()).show()

+----------+----+----+
|department| max| min|
+----------+----+----+
|  Accounts|9890|1007|
|   Finance|9899|1006|
| Marketing|9974|1031|
|        HR|9982|1013|
|     Sales|9982|1103|
|Purchasing|9985|1105|
+----------+----+----+

In [0]:
avg_bonus= df.filter(df.state == "NY").groupBy("state").agg(avg("bonus").alias("avg_bonus")).select("avg_bonus").collect()[0]['avg_bonus']
df.filter((df.state == "NY") & (df.department == "Finance") & (df.bonus > avg_bonus)).show()

+-----------+--------------------+----------+-----+------+---+-----+
|employee_id|       employee_name|department|state|salary|age|bonus|
+-----------+--------------------+----------+-----+------+---+-----+
|       1035|       Vivan Sifford|   Finance|   NY|  1129| 35| 1261|
|       1073|      Herder Gallman|   Finance|   NY|  1988| 31| 1402|
|       1082|          Nena Rocha|   Finance|   NY|  3417| 25| 1647|
|       1087|       Leif Lemaster|   Finance|   NY|  8642| 45| 1782|
|       1100|Ellingsworth Meli...|   Finance|   NY|  7845| 32| 1358|
|       1127|        Escoto Gilma|   Finance|   NY|  3426| 41| 1285|
|       1161|     Georgeanna Laub|   Finance|   NY|  2469| 26| 1679|
|       1175|     Durio Tenenbaum|   Finance|   NY|  2253| 42| 1684|
|       1180|       Juliana Grigg|   Finance|   NY|  8178| 42| 1617|
|       1215|        Tiffani Benz|   Finance|   NY|  1665| 41| 1969|
|       1220|          Nitz Ilana|   Finance|   NY|  2443| 50| 1342|
|       1342|   Phylicia Antonina|   Finance|   NY|  8626| 30| 1857|
|       1414|         Durio Janey|   Finance|   NY|  2992| 46| 1733|
|       1660|       Melissia Jere|   Finance|   NY|  9201| 21| 1533|
|       1737|      Yukiko Kreamer|   Finance|   NY|  7396| 20| 1332|
|       1738|      Nena Kensinger|   Finance|   NY|  8534| 41| 1610|
|       1815|      Antonina Ilana|   Finance|   NY|  2944| 28| 1718|
+-----------+--------------------+----------+-----+------+---+-----+

In [0]:
from pyspark.sql.functions import udf

In [0]:
from pyspark.sql.types import IntegerType

In [0]:
def salary_increment(salary , age):
    if age > 45:
        return salary+500
    else:
        return salary
    
udf_salary = udf(lambda x,y : salary_increment(x ,y) , IntegerType())
df.withColumn("salary" , udf_salary(col("salary") , col("age"))).show()

+-----------+-------------------+----------+-----+------+---+-----+
|employee_id|      employee_name|department|state|salary|age|bonus|
+-----------+-------------------+----------+-----+------+---+-----+
|       1000|          Nitz Leif| Marketing|   CA|  6131| 26|  543|
|       1001|    Melissia Dedman|   Finance|   AK|  4027| 43| 1290|
|       1002|  Rudolph Barringer|        HR|   LA|  3122| 43| 1445|
|       1003|        Tamra Amber|  Accounts|   AK|  6217| 47| 1291|
|       1004|        Mullan Nitz|Purchasing|   CA|  5685| 34| 1394|
|       1005|      Zollner Karie|  Accounts|   CA|  2843| 27| 1078|
|       1006|Kaczorowski Zollner|     Sales|   CA|  7201| 21| 1834|
|       1007|      Nakano Locust| Marketing|   LA|  3444| 23| 1823|
|       1008|  Recalde Kensinger|  Accounts|   LA|  4204| 48| 1330|
|       1009|        Imai Hallie|  Accounts|   AK|  5061| 38| 1557|
|       1010|    Debroah Gallman|  Accounts|   NY|  9308| 35|  817|
|       1011|   Barringer Escoto|Purchasing|   WA|  2185| 49| 1706|
|       1012|      Soules Coogan|  Accounts|   AK|  8330| 43| 1914|
|       1013|      Luisa Suzanne|  Accounts|   CA|  1151| 37| 1095|
|       1014|      Marvis Cobian|Purchasing|   NY|  5061| 41| 1765|
|       1015|   Cobian Kensinger|     Sales|   LA|  1983| 21|  632|
|       1016|      Gilma Margret| Marketing|   CA|  2919| 45| 1762|
|       1017| Ellingsworth Ilana|  Accounts|   WA|  9614| 26| 1964|
|       1018| Vankirk Jacquelyne|Purchasing|   NY|  9136| 47| 1192|
|       1019|    Zollner Juliana|        HR|   NY|  9739| 30| 1119|
+-----------+-------------------+----------+-----+------+---+-----+
only showing top 20 rows